html {
  background: url('chrome-extension://__MSG_@@extension_id__/images/indexBackground.jpg') no-repeat center center fixed;
  background-size: cover;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans',sans-serif;
}

#welcome-message {
  color: #737373;
  font-size: 20px;
  margin-top: 25px;
  margin-left: 3%;
  margin-bottom: 25px;
}

#info-container {
  display: flex;
  width: 100%;
  height: 350px;
}

#url-container {
  height: 100%;
  width: 44%;
  margin-left: 3%;
  margin-right: 3%;
  border: 2px solid #737373;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}

#chart-container {
  height: 100%;
  width: 44%;
  margin-left: 3%;
  margin-right: 3%;
  border: 2px solid #737373;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}

#googley-eyes-container {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  left: 20px;
  vertical-align: middle;
}

#team-name {
  height: 100%;
  font-family: 'Open Sans',sans-serif;
  color: #737373;
  font-size: 15px;
  margin-right: 5px;
  display:inline-block;

}

#logo {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
