html {
  background: url('chrome-extension://__MSG_@@extension_id__/images/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans',sans-serif;
}

#clock-container {
  margin: auto;
  margin-top: 40px;
  display: block;
  text-align: center;
}

#hour { color: white; font-size: 80px; }
#colon { color: white; font-size: 80px; }
#minute {  color: white; font-size: 80px; }

#welcome-message {
  text-align: center;
  margin-top: 0;
  color: white;
  font-size: 20px;
}

#latest-links {
  
}
