
html {
  background: url('chrome-extension://__MSG_@@extension_id__/images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  height: 100%;
  font-family: monospace;
}

#welcome_container {
  margin: auto;
  width: 60%;
  text-align: center;
  background: rgba(179, 230, 255, 0.6);
  box-shadow: 10px 10px 5px grey;
}

#welcome_message {
  padding: 10px;
}
